header  {
    height: 120px;
    background-image: linear-gradient(0, #f63, #f53d2d);
}

.navbar    {
    justify-content: space-between;
}

.nav-list    {
    padding-left: 0;
}

.nav-item   {
    position: relative;
}

.nav-item,
.nav-item-link  {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.nav-icon-link  {
    color: #fff;
    margin: 0 2px;
}

.nav-item:hover,
.nav-item-link:hover    {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.nav-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #f96f56;
    top: 0;
    right: -12px;
}

.search {

}

.logo   {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.logo-img   {
    height: 50px;
    margin: 0 10px;
}   

.search-bar {
    height: 30px;
    background-color: #fff;
    flex: 1;
    margin-left: 40px;
}

.search-bar-input {
    border: none;
    height: 100%;
    width: 100%;
}

.search-button  {
    height: 26px;
    width: 46px;
    color: #fff;
    background-color: #f53d2d;
    margin: 2px 2px;
}

/* login css */
.login-main {
    overflow: auto;
    height: 100%;
    padding: auto 0;
    background-color: #958f8f;
}

.login-form {
    flex-direction: column;
    font-size: 32px;
    margin: 40px 0;
}

.input-group {
    margin: 10px 10px;
}

.form-submit:hover {
    cursor: pointer; 
}

